        <app-redbutton [toilet]="data[0]"></app-redbutton>
        <div id="main" style="overflow-y: auto;">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
            <figure class="card card-product-grid card-lg" *ngFor="let marker of data" #myFigure>
                <a class="img-wrap" data-abc="true" *ngIf="marker.photo">
                    <img [src]="marker.photo" alt="Marker Image" style="border-radius: 20px;">
                </a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-9 col-xs-9">
                            <a class="title" data-abc="true">{{ marker.description }}</a>
                            <span class="rated">{{ marker.username }}</span>
                            <br>
                            <div *ngIf="marker.reviews">
                                <ul>
                                    <li *ngFor="let review of marker.reviews" style="margin-bottom: 1em;">
                                        <mat-card style="background-color: rgb(190, 189, 190);">
                                            {{review.username}}: {{ review.text_review }} -Rated {{ review?.numeric_review }}/5
                                            <button color="primary" *ngIf="review.username == currentUser" mat-raised-button style="color: white;" (click)="deleteReview(review.id!)">Delete</button>
                                        </mat-card>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <ng-container *ngIf="isValidRating(marker.total_rating)">
                                <div class="rating text-right">
                                    <i class="fa fa-star" *ngFor="let item of [].constructor(marker.total_rating); let i = index"></i>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!isValidRating(marker.total_rating)">
                                <span>No Rating</span>
                            </ng-container>
                        </div>
                        <button mat-raised-button color="primary" (click)="onClick(marker.id)">Add Review</button>
                        <button color="primary" *ngIf="marker.username == currentUser" mat-raised-button style="color: white; margin-top: 0.5em;" (click)="delete(marker.id)">Delete</button>
                    </div>
                </figcaption>
            </figure>
        </div>

