<video autoplay muted loop id="video">
    <source src="../../assets/video (2160p).mp4" type="video/mp4">
    Your browser does not support the video tag.
</video> 


<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <span class="heading">Register</span>
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" formControlName="email">
                        <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="invalid">
                            <p *ngIf="myForm.get('email')?.hasError('required') || myForm.get('email')?.hasError('email')" class="error">
                              {{ myForm.get('email')?.hasError('required') ? 'Email is required' : 'Not a valid email' }}
                            </p>  
                          </div>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="form-group help">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" formControlName="password">
                        <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched" class="invalid">
                            <p *ngIf="myForm.get('password')?.hasError('required') || myForm.get('password')?.hasError('minlength')" class="error">
                              {{ myForm.get('password')?.hasError('required') ? 'Password is required' : '10 characters minimum' }}
                            </p>
                          </div>
                        <i class="fa fa-lock"></i>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    <div class="form-group help">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="First Name" formControlName="first_name">
                        <i class="fa fa-lock"></i>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    <div class="form-group help">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Last Name" formControlName="last_name">
                        <i class="fa fa-lock"></i>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    <div class="form-group help">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Username" formControlName="username">
                        <i class="fa fa-lock"></i>
                        <a href="#" class="fa fa-question-circle"></a>
                    </div>
                    <div class="form-group">
                        <button mat-raised-button color="primary" type="submit" class="button">Register</button>
                        <button routerLink="/" mat-raised-button color="primary" class="button">Back</button>
                    </div>
                </form>
            </div>
    </div>
</div>
