.error {
    color: red;
  }

  *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    text-align: center;
  }

  #header {
    background-color: #673ab7;
    color: white;
    margin-left: 40em;
    margin-right: 40em;
  }

  .button { 
    justify-content: center;
  }

  .mat-mdc-card-header {
    justify-content: center;
    align-items: center;
  }