
<video autoplay muted loop id="video">
      <source src="../../assets/video (2160p).mp4" type="video/mp4">
      Your browser does not support the video tag.
</video> 

<!-- <div class="content">
    <mat-card id="box">
        <mat-card-header>
            <mat-card-title>
                Welcome To FlushApp©
            </mat-card-title>
        </mat-card-header>
        <mat-card-actions class="button">
            <button routerLink="/login" mat-raised-button color="primary" type="submit" class="button" id="button1">Login</button>
            <button routerLink="/register" mat-raised-button color="primary" type="submit" class="button" id="button2">Register</button>
          </mat-card-actions>
          <mat-card-actions class="button">
            <button routerLink="/map-page" mat-raised-button color="primary" class="button" id="buttonm">Continue to our map</button>
          </mat-card-actions>
    </mat-card>
</div> -->


<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <form class="form-horizontal">
                    <span class="heading">Welcome To <br><br><br> FlushApp©</span>
                    <div class="form-group">
                        <button routerLink="/login" mat-raised-button color="primary" type="submit" class="button" id="button1">Login</button>
                        <button routerLink="/register" mat-raised-button color="primary" type="submit" class="button" id="button2">Register</button>
                        <button routerLink="/map-page" mat-raised-button color="primary" class="button" id="buttonm">Continue to our map</button>
                    </div>
                </form>
            </div>
    </div>
</div>
